<h1>New Review</h1>
<h1>Cup New Page</h1>

<%= form_with model: @cup do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <br>

    <%= f.hidden_field(:user_id, value: session[:user_id]) %>
    <br>

    <%= f.label :keg %>
    <%= f.collection_select(:keg_id, Keg.all, :id, :name, prompt: true) %>
    <br>
    
    <%= f.submit %>
<% end %>
