<h1>Edit User</h1>


<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |err| %>
      <li><%= err %></li>
  <% end %>
  </ul>
  <% end %>

<%= form_with model: @user do |form| %>
  <%= form.label :name %>
  <%=  form.text_field :name %><br>
    <%= form.label :bio %>
  <%= form.text_area :bio %><br>
  <%= form.submit "Edit User" %><br>
<% end %>

<%= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete?'} %>
