<h1>New User</h1>

<%= form_tag users_path do %>
<%= label_tag "Username" %>
<%= text_field_tag :'user[name]' %><br>
<%= label_tag 'Password' %>
<%= text_field_tag :'user[password]' %><br>
<%= submit_tag "Create User" %>
<% end %>





