<h1><%= @user.name %></h1>
<h3><%= @user.bio %></h3>

<% user.cups.each do |cup| %>
  <%= cup.keg.name %><br>
  <%=  cup.rating %>
<% end %>

<%= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete?'} %>
