<h1>Edit Keg</h1>

<ul>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <li>
        <%= error %>
        </li>
    <% end %>
<% end %>
</ul>

<%= form_with model: @keg do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name %>
    <br>
    <%= f.label :type %>
    <%= f.text_field :type %>
    <br>
    <%= f.submit %>
<% end %>

<br>
<%= link_to "Back to Kegs", kegs_path %>
<br>
<%= link_to "Delete Keg", keg_path(@keg), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
