<h1>New Keg</h1>


<%= form_with model: @keg do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name %>
    <br>
    <%= f.label :beer_type %>
    <%= f.text_field :beer_type %>
    <br>
    <%= f.submit %>
<% end %>
