<h1><%= @keg.name %></h1>
<h3><%= @keg.type %></h3>

<ul>
<% @keg.keg_floors.each do |keg_floor|%>
<li>
<%= link_to "#{keg_floor.floor.building} - #{keg_floor.floor.floor_number}", keg_floor.floor %>
</li>
<% end %>
</ul>

<br>
<%= link_to "Back to Kegs", kegs_path %>
<br>
<%= link_to "Edit this Keg", edit_keg_path(@keg) %>