<!DOCTYPE html>
<html>
  <head>
    <title>BeerTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
       background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1707/60d510845144886f8d7cea97a2778be3/photo-1535958636474-b021ee887b13');
       background-height: auto;
       background-width: auto;
       background-position: center;
       background-attachment: fixed;
      }
    </style>


  </head>

<body>

<div class="header">
  <h2>🍺Beer Tracker🍻</h2>

</div>


<div class="row">
  <%= yield  %>

  <div class="rightcolumn">
    <div class="card">
      <aside>
      <% if flash[:errors] %>
        <ul>
        <% flash[:errors].each do |err| %>
            <li><%= err %></li>
        </ul>
        <% end %>
      <% end %>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

    </aside>
      <br>
        <%= link_to "HOME", '/' %>
        <% if session[:user_id] %>
        <%= link_to "USER", user_path(session[:user_id]) %> <%= link_to "LOGOUT", '/logout' %>
        <% else %>
        <%= link_to "LOGIN", '/login' %>
        <% end %>
    <!-- <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div> -->
  </div>
</div>


</body>
</html>
